<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.powernode.mapper.TransportMapper">
  <resultMap id="BaseResultMap" type="com.powernode.domain.Transport">
    <!--@mbg.generated-->
    <!--@Table transport-->
    <id column="transport_id" jdbcType="BIGINT" property="transportId" />
    <result column="trans_name" jdbcType="VARCHAR" property="transName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="shop_id" jdbcType="BIGINT" property="shopId" />
    <result column="charge_type" jdbcType="TINYINT" property="chargeType" />
    <result column="is_free_fee" jdbcType="TINYINT" property="isFreeFee" />
    <result column="has_free_condition" jdbcType="TINYINT" property="hasFreeCondition" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    transport_id, trans_name, create_time, shop_id, charge_type, is_free_fee, has_free_condition
  </sql>
</mapper>