<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="addSerializeUid" value="true" />
        <option name="generateService" value="true" />
        <option name="generateServiceInterface" value="true" />
        <option name="javaMapperPackage" value="com.powernode.mapper" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/cloud-iaas/auth-server/src/main/java" />
        <option name="javaModelPackage" value="com.powernode.domain" />
        <option name="javaModelPath" value="$PROJECT_DIR$/cloud-iaas/auth-server/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="auth-server" />
        <option name="lombokAllArgConstructor" value="true" />
        <option name="lombokDataAnnotation" value="true" />
        <option name="lombokNoArgsConstructor" value="true" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="auth-server">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.powernode.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/cloud-iaas/auth-server/src/main/java" />
                  <option name="javaModelPacakge" value="com.powernode.domain" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/cloud-iaas/auth-server/src/main/java" />
                  <option name="javaServiceInterfacePackage" value="com.powernode.service" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/cloud-iaas/auth-server/src/main/java" />
                  <option name="javaServicePackage" value="com.powernode.service.impl" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/cloud-iaas/auth-server/src/main/java" />
                  <option name="xmlPackage" value="mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/cloud-iaas/auth-server/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="mybatisPlusIdType" value="AUTO" />
        <option name="mybatisPlusStaticField" value="false" />
        <option name="tableGenerateConfigs">
          <map>
            <entry key="power_shop:sys_user">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="user_id" />
                  <option name="javaModelName" value="SysUser" />
                  <option name="moduleName" value="auth-server" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="userMybatisPlus" value="true" />
        <option name="xmlMapperPackage" value="mapper" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/cloud-iaas/auth-server/src/main/resources" />
      </ProjectProfile>
    </option>
  </component>
</project>